/* _arch-vars-start */


@import 'sencha-touch/default';
@import 'sencha-touch/default/all';


/* _arch-other-start */
h1 {
    font-size: 110%;
    padding: 0 0 5px 0; 
}

p {
    font-size: 80%;
    color: grey;
}